n8n-workflows/autohero-enrich-offers.json
{
  "name": "Autohero – Enriquecer Ofertas (powerCv, bodyType, imagen)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {},
      "id": "node-ewf-trigger",
      "name": "Llamada desde workflow padre",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 700]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Cada día a las 4:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, brand, model,\n  COALESCE(image_url, '') AS image_url,\n  COALESCE(power_cv, 0)::int AS power_cv,\n  COALESCE(body_type, '') AS body_type,\n  COALESCE(color, '') AS color,\n  COALESCE(city, '') AS city,\n  COALESCE(location, '') AS location,\n  COALESCE(fuel, '') AS fuel,\n  COALESCE(transmission, '') AS transmission,\n  COALESCE(environmental_label, '') AS environmental_label,\n  COALESCE(doors, 0)::int AS doors,\n  COALESCE(seats, 0)::int AS seats,\n  COALESCE(displacement, '') AS displacement,\n  COALESCE(co2, '') AS co2,\n  COALESCE(consumption, 0) AS consumption,\n  COALESCE(traction, '') AS traction,\n  COALESCE(warranty_months, 0)::int AS warranty_months\nFROM moveadvisor_market_offers\nWHERE portal = 'autohero'\n  AND (\n    COALESCE(image_url, '') = ''\n    OR COALESCE(power_cv, 0) = 0\n    OR COALESCE(body_type, '') = ''\n    OR COALESCE(color, '') = ''\n    OR COALESCE(location, '') = ''\n    OR COALESCE(fuel, '') = ''\n    OR COALESCE(transmission, '') = ''\n    OR COALESCE(environmental_label, '') = ''\n    OR COALESCE(doors, 0) = 0\n    OR COALESCE(seats, 0) = 0\n    OR COALESCE(displacement, '') = ''\n    OR COALESCE(co2, '') = ''\n    OR COALESCE(consumption, 0) = 0\n    OR COALESCE(traction, '') = ''\n    OR COALESCE(warranty_months, 0) = 0\n  )\nORDER BY first_seen_at DESC\nLIMIT 500",
        "additionalFields": {}
      },
      "id": "node-pg-select",
      "name": "PG: Ofertas a enriquecer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [280, 400],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZA_CON_TU_ID_CREDENCIAL",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop",
      "name": "Loop: oferta por oferta",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "headers": {
            "values": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0 Safari/537.36"
              },
              {
                "name": "Accept-Language",
                "value": "es-ES,es;q=0.9"
              }
            ]
          }
        }
      },
      "id": "node-http-detail",
      "name": "HTTP: Página de detalle Autohero",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [760, 400]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NOTA: el nodo HTTP Request devuelve el HTML en $json.data (response text)\n//       Los datos originales de Postgres vienen del input anterior al HTTP.\n//       En n8n con SplitInBatches, el item tiene el json original más el\n//       resultado del HTTP. Ajusta 'html' según cómo recibas el body:\n//         - Si el HTTP node está configurado con responseFormat='text': $json.data\n//         - Si es la respuesta directa: $json.body o $json.data\n// ─────────────────────────────────────────────────────────────────────────\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n  // El campo 'data' es el HTML crudo devuelto por el nodo HTTP Request\n  const html = String(row.data || row.body || '');\n\n  // ── helpers ──────────────────────────────────────────────────────────\n  function tryJson(s) {\n    try { return JSON.parse(s); } catch { return null; }\n  }\n\n  function safeStr(v) { return v == null ? '' : String(v).trim(); }\n  function safeInt(v) { const n = parseInt(v, 10); return isNaN(n) ? null : n; }\n\n  function unesc(s) {\n    return String(s || '')\n      .replace(/\\\\\"/g, '\"')\n      .replace(/\\\\u002F/gi, '/')\n      .replace(/\\\\\\/g, '/');\n  }\n\n  function deepFind(obj, keys) {\n    if (!obj || typeof obj !== 'object') return undefined;\n    for (const key of keys) {\n      if (obj[key] !== undefined && obj[key] !== null && obj[key] !== '') return obj[key];\n    }\n    for (const val of Object.values(obj)) {\n      if (val && typeof val === 'object' && !Array.isArray(val)) {\n        const found = deepFind(val, keys);\n        if (found !== undefined) return found;\n      }\n    }\n    return undefined;\n  }\n\n  function normalizeBodyType(raw) {\n    const s = String(raw || '').toLowerCase();\n    if (!s) return '';\n    if (/suv|crossover|4x4/.test(s)) return 'SUV';\n    if (/berlina|sedan|saloon/.test(s)) return 'Berlina';\n    if (/familiar|estate|combi|wagon|avant/.test(s)) return 'Familiar';\n    if (/coupe|coupé/.test(s)) return 'Coupé';\n    if (/cabrio|convert/.test(s)) return 'Cabrio';\n    if (/mono|van|mpv/.test(s)) return 'Monovolumen';\n    if (/hatchback/.test(s)) return 'Berlina';\n    return raw.charAt(0).toUpperCase() + raw.slice(1);\n  }\n\n  function normalizeFuel(raw) {\n    const s = String(raw || '').toLowerCase();\n    if (!s) return '';\n    if (/diesel/.test(s)) return 'Diesel';\n    if (/gasolin|petrol/.test(s)) return 'Gasolina';\n    if (/el[eé]ctric/.test(s)) return 'Eléctrico';\n    if (/h[íi]brido|hybrid/.test(s)) return 'Híbrido';\n    return raw.charAt(0).toUpperCase() + raw.slice(1);\n  }\n\n  function normalizeGear(raw) {\n    const s = String(raw || '').toLowerCase();\n    if (!s) return '';\n    if (/auto|dct|cvt|dsg|tiptronic/.test(s)) return 'Automatica';\n    if (/manual/.test(s)) return 'Manual';\n    return raw.charAt(0).toUpperCase() + raw.slice(1);\n  }\n\n  // Escapa comillas simples para SQL inline\n  function esc(v) { return String(v || '').replace(/'/g, \"''\"); }\n\n  // ── extracción de la página ───────────────────────────────────────────\n  const ex = {};\n  const content = unesc(html);\n\n  // 1. __NEXT_DATA__\n  const nextMatch = html.match(/<script[^>]+id=[\"']__NEXT_DATA__[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\n  if (nextMatch) {\n    const nd = tryJson(nextMatch[1]);\n    if (nd) {\n      const props = nd?.props?.pageProps || nd?.props || {};\n      const vo = props.vehicle || props.car || props.listing || props.ad ||\n                 props.carDetails || props.initialData?.vehicle ||\n                 props.dehydratedState?.queries?.[0]?.state?.data || props.pageData;\n      if (vo) {\n        const ps  = deepFind(vo, ['powerPs', 'powerCV', 'powerCv', 'power_cv', 'ps']);\n        const kw  = deepFind(vo, ['powerKw', 'power_kw', 'kw']);\n        if (ps)  ex.powerCv = safeInt(ps);\n        if (kw)  ex.powerKw = safeInt(kw);\n        const bt = deepFind(vo, ['bodyType', 'body_type', 'carType', 'carBodyType']);\n        if (bt)  ex.bodyType = normalizeBodyType(bt);\n        const fu = deepFind(vo, ['fuelType', 'fuel_type', 'fuel']);\n        if (fu)  ex.fuel = normalizeFuel(fu);\n        const ge = deepFind(vo, ['gearType', 'transmission', 'gearbox']);\n        if (ge)  ex.transmission = normalizeGear(ge);\n        const ci = deepFind(vo, ['city', 'hub', 'hubName', 'deliveryCity']);\n        if (ci)  ex.city = safeStr(ci);\n        const col = deepFind(vo, ['color', 'colorName', 'colourId', 'exteriorColor', 'carColor']);\n        if (col) ex.color = safeStr(col);\n        const el = deepFind(vo, ['environmentalLabel', 'ecoLabel', 'emissionSticker', 'euroEmissionClass']);\n        if (el) ex.envLabel = safeStr(el);\n        const dr = deepFind(vo, ['doors', 'numberOfDoors', 'numDoors']);\n        if (dr) ex.doors = safeInt(dr);\n        const se = deepFind(vo, ['seats', 'numberOfSeats', 'numSeats', 'seatCount']);\n        if (se) ex.seats = safeInt(se);\n        const di = deepFind(vo, ['displacement', 'engineSize', 'cubicCapacity', 'engineDisplacement']);\n        if (di) ex.displacement = safeStr(di);\n        const c2 = deepFind(vo, ['co2', 'co2Emissions', 'co2Value', 'emissionCo2']);\n        if (c2) ex.co2 = safeStr(c2);\n        const cn = deepFind(vo, ['consumption', 'fuelConsumption', 'combinedConsumption', 'consumptionCombined']);\n        if (cn != null) ex.consumption = parseFloat(cn);\n        const tt = deepFind(vo, ['traction', 'driveType', 'drive', 'wheelDrive', 'drivetrain']);\n        if (tt) ex.traction = safeStr(tt);\n        const wm = deepFind(vo, ['warrantyMonths', 'warrantyDuration', 'warrantyPeriod']);\n        if (wm) ex.warrantyMonths = safeInt(wm);\n        const imgs = deepFind(vo, ['images', 'gallery', 'photos', 'imageUrls']);\n        if (Array.isArray(imgs) && imgs.length > 0) {\n          const urls = imgs.map(i => typeof i === 'string' ? i : i?.url || i?.src || '').filter(Boolean).slice(0, 10);\n          if (urls.length > 0) { ex.imageUrl = urls[0]; ex.images = urls; }\n        }\n      }\n    }\n  }\n\n  // 2. Patrones JSON inline\n  if (!ex.imageUrl) {\n    const m = content.match(/\"ahMainImageUrl\":\"([^\"]+)\"/i)?.[1] ||\n              content.match(/\"mainImageUrl\":\"([^\"]+)\"/i)?.[1] ||\n              content.match(/\"primaryImageUrl\":\"([^\"]+)\"/i)?.[1];\n    if (m) { ex.imageUrl = m.replace(/\\\\/g, ''); ex.images = [ex.imageUrl]; }\n  }\n  if (!ex.imageUrl) {\n    const g = [...content.matchAll(/\"(https:\\/\\/img-eu[^\"]+autohero[^\"]+)\"/gi)];\n    if (g.length > 0) {\n      const urls = [...new Set(g.map(m => m[1].replace(/\\\\/g, '')))].slice(0, 10);\n      ex.imageUrl = urls[0]; ex.images = urls;\n    }\n  }\n  if (!ex.powerCv) {\n    const m = content.match(/\"powerPs\":(\\d+)/i)?.[1] || content.match(/\"powerCv\":(\\d+)/i)?.[1];\n    if (m) ex.powerCv = safeInt(m);\n  }\n  if (!ex.powerKw) {\n    const m = content.match(/\"powerKw\":(\\d+)/i)?.[1];\n    if (m) ex.powerKw = safeInt(m);\n  }\n  if (!ex.bodyType) {\n    const m = content.match(/\"bodyType\":\"([^\"]+)\"/i)?.[1] || content.match(/\"carType\":\"([^\"]+)\"/i)?.[1];\n    if (m) ex.bodyType = normalizeBodyType(m);\n  }\n  if (!ex.fuel) {\n    const m = content.match(/\"fuelType\":\"([^\"]+)\"/i)?.[1];\n    if (m) ex.fuel = normalizeFuel(m);\n  }\n  if (!ex.transmission) {\n    const m = content.match(/\"gearType\":\"([^\"]+)\"/i)?.[1];\n    if (m) ex.transmission = normalizeGear(m);\n  }\n  if (!ex.city) {\n    const m = content.match(/\"hub(?:Name)?\":\"([^\"]+)\"/i)?.[1] || content.match(/\"city\":\"([^\"]+)\"/i)?.[1];\n    if (m) ex.city = safeStr(m);\n  }\n  if (!ex.color) {\n    const m = content.match(/\"color\":\"([^\"]+)\"/i)?.[1] ||\n              content.match(/\"colorName\":\"([^\"]+)\"/i)?.[1] ||\n              content.match(/\"exteriorColor\":\"([^\"]+)\"/i)?.[1];\n    if (m) ex.color = safeStr(m);\n  }\n\n  //── powerCv desde kW si no viene directo (1 kW = 1.3596 CV) ─────────\n  if (!ex.envLabel) {\n    const m = content.match(/\"environmentalLabel\":\"([^\"]+)\"/i)?.[1] ||\n              content.match(/\"ecoLabel\":\"([^\"]+)\"/i)?.[1] ||\n              content.match(/\"emissionSticker\":\"([^\"]+)\"/i)?.[1];\n    if (m) ex.envLabel = safeStr(m);\n  }\n  if (!ex.doors) {\n    const m = content.match(/\"(?:numberOfDoors|doors)\":(\\d+)/i)?.[1];\n    if (m) ex.doors = safeInt(m);\n  }\n  if (!ex.seats) {\n    const m = content.match(/\"(?:numberOfSeats|seats|seatCount)\":(\\d+)/i)?.[1];\n    if (m) ex.seats = safeInt(m);\n  }\n  if (!ex.displacement) {\n    const m = content.match(/\"(?:displacement|engineSize|cubicCapacity)\":\"([^\"]+)\"/i)?.[1] ||\n              content.match(/\"(?:displacement|engineSize|cubicCapacity)\":(\\d+)/i)?.[1];\n    if (m) ex.displacement = safeStr(m);\n  }\n  if (!ex.co2) {\n    const m = content.match(/\"co2(?:Emissions|Value)?\":(\\d+)/i)?.[1];\n    if (m) ex.co2 = m;\n  }\n  if (ex.consumption == null) {\n    const m = content.match(/\"(?:consumption|fuelConsumption|combinedConsumption)\":(\\d+\\.?\\d*)/i)?.[1];\n    if (m) ex.consumption = parseFloat(m);\n  }\n  if (!ex.traction) {\n    const m = content.match(/\"(?:driveType|drive|wheelDrive|drivetrain)\":\"([^\"]+)\"/i)?.[1];\n    if (m) ex.traction = safeStr(m);\n  }\n  if (!ex.warrantyMonths) {\n    const m = content.match(/\"(?:warrantyMonths|warrantyDuration)\":(\\d+)/i)?.[1];\n    if (m) ex.warrantyMonths = safeInt(m);\n  }\n  const finalPowerCv = ex.powerCv || (ex.powerKw ? Math.round(ex.powerKw * 1.3596) : null);\n\n  // ── construir SET clauses (solo campos que faltaban y ahora tienen valor) ─\n  const sets = [];\n\n  if (!row.image_url && ex.imageUrl) {\n    sets.push(`image_url = '${esc(ex.imageUrl)}'`);\n    sets.push(`images = '${esc(JSON.stringify(ex.images || [ex.imageUrl]))}'`);\n  }\n  if ((!row.power_cv || row.power_cv === 0) && finalPowerCv) {\n    sets.push(`power_cv = ${finalPowerCv}`);\n  }\n  if (ex.powerKw) {\n    sets.push(`power_kw = ${ex.powerKw}`);\n  }\n  if (!row.body_type && ex.bodyType) {\n    sets.push(`body_type = '${esc(ex.bodyType)}'`);\n  }\n  if (!row.city && ex.city) {\n    sets.push(`city = '${esc(ex.city)}'`);\n    sets.push(`province = '${esc(ex.city)}'`);\n    sets.push(`location = '${esc(ex.city)}'`);\n  } else if (!row.location) {\n    sets.push(`location = 'Toda España'`);\n  }\n  if (!row.color && ex.color) {\n    sets.push(`color = '${esc(ex.color)}'`);\n  }\n  if (!row.fuel && ex.fuel) {\n    sets.push(`fuel = '${esc(ex.fuel)}'`);\n  }\n  if (!row.transmission && ex.transmission) {\n    sets.push(`transmission = '${esc(ex.transmission)}'`);\n  }\n  if (!row.environmental_label && ex.envLabel) {\n    sets.push(`environmental_label = '${esc(ex.envLabel)}'`);\n  }\n  if ((!row.doors || row.doors === 0) && ex.doors) {\n    sets.push(`doors = ${ex.doors}`);\n  }\n  if ((!row.seats || row.seats === 0) && ex.seats) {\n    sets.push(`seats = ${ex.seats}`);\n  }\n  if (!row.displacement && ex.displacement) {\n    sets.push(`displacement = '${esc(ex.displacement)}'`);\n  }\n  if (!row.co2 && ex.co2) {\n    sets.push(`co2 = '${esc(ex.co2)}'`);\n  }\n  if ((!row.consumption || row.consumption === 0) && ex.consumption != null) {\n    sets.push(`consumption = ${ex.consumption}`);\n  }\n  if (!row.traction && ex.traction) {\n    sets.push(`traction = '${esc(ex.traction)}'`);\n  }\n  if ((!row.warranty_months || row.warranty_months === 0) && ex.warrantyMonths) {\n    sets.push(`warranty_months = ${ex.warrantyMonths}`);\n  }\n\n  const hasUpdates = sets.length > 0;\n  const updateSql = hasUpdates\n    ? `UPDATE moveadvisor_market_offers SET ${sets.join(', ')}, updated_at = NOW() WHERE id = '${esc(row.id)}'`\n    : null;\n\n  results.push({ json: { id: row.id, brand: row.brand, model: row.model, hasUpdates, updateSql } });\n}\n\nreturn results;"
      },
      "id": "node-code-parse",
      "name": "Code: Extraer campos y generar SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-updates",
              "leftValue": "={{ $json.hasUpdates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-has-updates",
      "name": "IF: ¿hay datos nuevos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.updateSql }}",
        "additionalFields": {}
      },
      "id": "node-pg-update",
      "name": "PG: Actualizar oferta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1480, 280],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZA_CON_TU_ID_CREDENCIAL",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "amount": 1200,
        "unit": "milliseconds"
      },
      "id": "node-wait",
      "name": "Esperar 1.2s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1720, 400],
      "webhookId": "wait-autohero-enrich"
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [{ "node": "PG: Ofertas a enriquecer", "type": "main", "index": 0 }]
      ]
    },
    "Cada día a las 4:00": {
      "main": [
        [{ "node": "PG: Ofertas a enriquecer", "type": "main", "index": 0 }]
      ]
    },
    "Llamada desde workflow padre": {
      "main": [
        [{ "node": "PG: Ofertas a enriquecer", "type": "main", "index": 0 }]
      ]
    },
    "PG: Ofertas a enriquecer": {
      "main": [
        [{ "node": "Loop: oferta por oferta", "type": "main", "index": 0 }]
      ]
    },
    "Loop: oferta por oferta": {
      "main": [
        [{ "node": "HTTP: Página de detalle Autohero", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Página de detalle Autohero": {
      "main": [
        [{ "node": "Code: Extraer campos y generar SQL", "type": "main", "index": 0 }]
      ]
    },
    "Code: Extraer campos y generar SQL": {
      "main": [
        [{ "node": "IF: ¿hay datos nuevos?", "type": "main", "index": 0 }]
      ]
    },
    "IF: ¿hay datos nuevos?": {
      "main": [
        [{ "node": "PG: Actualizar oferta", "type": "main", "index": 0 }],
        [{ "node": "Esperar 1.2s (rate limit)", "type": "main", "index": 0 }]
      ]
    },
    "PG: Actualizar oferta": {
      "main": [
        [{ "node": "Esperar 1.2s (rate limit)", "type": "main", "index": 0 }]
      ]
    },
    "Esperar 1.2s (rate limit)": {
      "main": [
        [{ "node": "Loop: oferta por oferta", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-14T00:00:00.000Z",
  "versionId": "1"
}
