n8n-workflows/autohero-enrich-offers.json
{
  "name": "Autohero – Enriquecer Ofertas (powerCv, bodyType, imagen)",
  "nodes": [
    {
      "parameters": {},
      "id": "2449244a-5830-47d9-a76a-7ca04270ce10",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        32
      ]
    },
    {
      "parameters": {},
      "id": "c78aef5c-95dd-4c1e-8ecf-d553d5a89c75",
      "name": "Llamada desde workflow padre",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        432
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "0e48ec47-93d1-450c-9a19-ac8e2731d3b4",
      "name": "Cada día a las 4:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, url, brand, model,\n  COALESCE(image_url, '') AS image_url,\n  COALESCE(power_cv, 0)::int AS power_cv,\n  COALESCE(body_type, '') AS body_type,\n  COALESCE(color, '') AS color,\n  COALESCE(city, '') AS city,\n  COALESCE(location, '') AS location,\n  COALESCE(fuel, '') AS fuel,\n  COALESCE(transmission, '') AS transmission,\n  COALESCE(environmental_label, '') AS environmental_label,\n  COALESCE(doors, 0)::int AS doors,\n  COALESCE(seats, 0)::int AS seats,\n  COALESCE(displacement, '') AS displacement,\n  COALESCE(co2, '') AS co2,\n  COALESCE(consumption, 0) AS consumption,\n  COALESCE(traction, '') AS traction,\n  COALESCE(warranty_months, 0)::int AS warranty_months\nFROM moveadvisor_market_offers\nWHERE portal = 'autohero'\n  AND enrich_tried_at IS NULL\n  AND (\n    COALESCE(image_url, '') = ''\n    OR COALESCE(power_cv, 0) = 0\n    OR COALESCE(body_type, '') = ''\n    OR COALESCE(color, '') = ''\n    OR COALESCE(location, '') = ''\n    OR COALESCE(fuel, '') = ''\n    OR COALESCE(transmission, '') = ''\n    OR COALESCE(environmental_label, '') = ''\n    OR COALESCE(doors, 0) = 0\n    OR COALESCE(seats, 0) = 0\n    OR COALESCE(displacement, '') = ''\n    OR COALESCE(co2, '') = ''\n    OR COALESCE(consumption, 0) = 0\n    OR COALESCE(traction, '') = ''\n    OR COALESCE(warranty_months, 0) = 0\n  )\nORDER BY first_seen_at DESC\nLIMIT 2000\n",
        "options": {}
      },
      "id": "913709eb-d835-46dc-b543-5b728c7ccb1a",
      "name": "PG: Ofertas a enriquecer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1200,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "zoxD0jV8hxZqH0uY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b866a5f1-3380-4136-9e4b-1445febe8dd2",
      "name": "Loop: oferta por oferta",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -960,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "81807dac-1b08-461d-9a8a-9b25bd0c3aa3",
      "name": "HTTP: Página de detalle Autohero",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -720,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Input data ────────────────────────────────────────────────\nconst row = $('Loop: oferta por oferta').item.json;\nconst html = String($input.item.json.data || $input.item.json.body || '');\n\n// ── JSON-LD extraction ────────────────────────────────────────\nlet ld = {};\nconst ldMatch = html.match(/<script[^>]+type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/i);\nif (ldMatch && ldMatch[1]) {\n  try {\n    const parsed = JSON.parse(ldMatch[1].trim());\n    if (Array.isArray(parsed['@graph'])) {\n      ld = parsed['@graph'].find(function(n) {\n        return n['@type'] === 'Vehicle' || n['@type'] === 'Car';\n      }) || {};\n    } else {\n      ld = parsed;\n    }\n  } catch(e) { ld = {}; }\n}\n\nfunction safeStr(v) {\n  return (v !== null && v !== undefined) ? String(v).trim() : null;\n}\n\n// ── image_url / images ────────────────────────────────────────\nvar image_url = null;\nvar images_arr = [];\nif (ld['image']) {\n  if (Array.isArray(ld['image'])) {\n    images_arr = ld['image'].filter(function(i) { return typeof i === 'string' && i; });\n    if (images_arr.length === 0) {\n      images_arr = ld['image'].map(function(i) { return i && i.url ? i.url : null; }).filter(Boolean);\n    }\n    if (images_arr.length > 0) image_url = images_arr[0];\n  } else if (typeof ld['image'] === 'string' && ld['image']) {\n    image_url = ld['image'];\n    images_arr = [image_url];\n  } else if (ld['image'] && ld['image']['url']) {\n    image_url = ld['image']['url'];\n    images_arr = [image_url];\n  }\n}\nif (!image_url) {\n  var imgMatches = [...html.matchAll(/\"(https:\\/\\/(?:img[^\"]*autohero|cdn[^\"]*autohero)[^\"]+)\"/gi)];\n  if (imgMatches.length > 0) {\n    images_arr = [...new Set(imgMatches.map(function(m) { return m[1].replace(/\\\\/g, ''); }))].slice(0, 10);\n    image_url = images_arr[0];\n  }\n}\n\n// Galeria completa: normalizar todas las fotos al mismo tamano y deduplicar\nif (images_arr.length <= 1) {\n  var _galRaw = [...html.matchAll(/https:\\/\\/img-eu-c1\\.autohero\\.com\\/img\\/[a-z0-9]+\\/(?:exterior|interior)\\/\\d+\\/\\d+x\\d+-[a-z0-9]+\\.jpg/gi)].map(function(m){ return m[0]; });\n  var _seen = {}; var _gal = [];\n  for (var _gi = 0; _gi < _galRaw.length; _gi++) {\n    var _n = _galRaw[_gi].replace(/\\/\\d+x\\d+-/, '/768x432-');\n    if (!_seen[_n]) { _seen[_n] = 1; _gal.push(_n); }\n  }\n  if (_gal.length > 0) { images_arr = _gal.slice(0, 15); image_url = images_arr[0]; }\n}\n\nfunction normalizeBody(raw) {\n  var s = String(raw || '').toLowerCase();\n  if (!s) return '';\n  if (s.indexOf('suv') !== -1 || s.indexOf('4x4') !== -1 || s.indexOf('todo') !== -1) return 'SUV';\n  if (s.indexOf('pick') !== -1) return 'Pick Up';\n  if (s.indexOf('furgon') !== -1 || s.indexOf('van') !== -1 || s.indexOf('comercial') !== -1) return 'Furgoneta';\n  if (s.indexOf('familiar') !== -1 || s.indexOf('estate') !== -1 || s.indexOf('combi') !== -1) return 'Familiar';\n  if (s.indexOf('monovolum') !== -1 || s.indexOf('mpv') !== -1) return 'Monovolumen';\n  if (s.indexOf('coup') !== -1) return 'Coupé';\n  if (s.indexOf('cabrio') !== -1 || s.indexOf('descapotable') !== -1) return 'Cabrio';\n  if (s.indexOf('pequeñ') !== -1 || s.indexOf('pequen') !== -1 || s.indexOf('compact') !== -1 || s.indexOf('ciudad') !== -1 || s.indexOf('utilitario') !== -1) return 'Compacto';\n  if (s.indexOf('berlina') !== -1 || s.indexOf('sedan') !== -1 || s.indexOf('turismo') !== -1 || s.indexOf('hatchback') !== -1) return 'Berlina';\n  return raw;\n}\n\n// ── body_type ─────────────────────────────────────────────────\nvar body_type = normalizeBody(safeStr(ld['bodyType']));\n\n// ── doors ─────────────────────────────────────────────────────\nvar doors = null;\nvar doorsRaw = safeStr(ld['numberOfDoors']);\nif (doorsRaw) {\n  var d = parseInt(doorsRaw, 10);\n  if (!isNaN(d) && d > 0) doors = d;\n}\n\n// ── seats ─────────────────────────────────────────────────────\nvar seats = null;\nvar seatsRaw = safeStr(ld['seatingCapacity']);\nif (seatsRaw) {\n  var s = parseInt(seatsRaw, 10);\n  if (!isNaN(s) && s > 0) seats = s;\n}\n\n// ── color ─────────────────────────────────────────────────────\nvar color = safeStr(ld['vehicleInteriorColor']);\nif (!color) {\n  var metaMatch = html.match(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']+)[\"']/i);\n  if (!metaMatch) {\n    metaMatch = html.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+name=[\"']description[\"']/i);\n  }\n  if (metaMatch && metaMatch[1]) {\n    var firstWord = metaMatch[1].trim().split(/\\s+/)[0];\n    if (firstWord && firstWord.length > 2) color = firstWord;\n  }\n}\n\n// ── fuel ──────────────────────────────────────────────────────\nvar fuel = null;\nvar fuelRaw = safeStr(ld['vehicleEngine'] && ld['vehicleEngine']['fuelType'] || ld['fuelType']);\nif (fuelRaw) {\n  var fuelLower = fuelRaw.toLowerCase();\n  if (fuelLower.includes('diesel') || fuelLower.includes('diésel'))  fuel = 'Diesel';\n  else if (fuelLower.includes('gasolin') || fuelLower.includes('petrol')) fuel = 'Gasolina';\n  else if (fuelLower.includes('electr'))                               fuel = 'Eléctrico';\n  else if (fuelLower.includes('hybrid') || fuelLower.includes('híbrid')) fuel = 'Híbrido';\n  else fuel = fuelRaw;\n}\nif (!fuel) {\n  var fuelMatch = html.match(/\"fuelType\"\\s*:\\s*\"([^\"]+)\"/i);\n  if (fuelMatch && fuelMatch[1]) {\n    var fl = fuelMatch[1].toLowerCase();\n    if (fl.includes('diesel') || fl.includes('diésel'))          fuel = 'Diesel';\n    else if (fl.includes('gasolin') || fl.includes('petrol'))    fuel = 'Gasolina';\n    else if (fl.includes('electr'))                              fuel = 'Eléctrico';\n    else if (fl.includes('hybrid') || fl.includes('híbrid'))    fuel = 'Híbrido';\n    else fuel = fuelMatch[1];\n  }\n}\n\n// ── transmission ──────────────────────────────────────────────\nvar transmission = null;\nvar transRaw = safeStr(ld['vehicleTransmission']);\nif (transRaw) {\n  var tl = transRaw.toLowerCase();\n  if (tl.includes('auto') || tl.includes('dct') || tl.includes('cvt') || tl.includes('dsg')) transmission = 'Automatica';\n  else if (tl.includes('manual')) transmission = 'Manual';\n  else transmission = transRaw;\n}\nif (!transmission) {\n  var transMatch = html.match(/\"vehicleTransmission\"\\s*:\\s*\"([^\"]+)\"/i) ||\n                   html.match(/\"gearType\"\\s*:\\s*\"([^\"]+)\"/i);\n  if (transMatch && transMatch[1]) {\n    var tl2 = transMatch[1].toLowerCase();\n    if (tl2.includes('auto') || tl2.includes('dct') || tl2.includes('dsg')) transmission = 'Automatica';\n    else if (tl2.includes('manual')) transmission = 'Manual';\n    else transmission = transMatch[1];\n  }\n}\n\n// ── power_cv / power_kw ───────────────────────────────────────\nvar power_cv = null;\nvar power_kw = null;\nvar engineObj = ld['vehicleEngine'] || {};\nvar powerRaw = safeStr(engineObj['enginePower']) || '';\nvar cvMatch = powerRaw.match(/(\\d+)\\s*(?:CV|PS|HP)/i);\nvar kwMatch = powerRaw.match(/(\\d+)\\s*kW/i);\nif (cvMatch && cvMatch[1]) power_cv = parseInt(cvMatch[1], 10);\nif (kwMatch && kwMatch[1]) power_kw = parseInt(kwMatch[1], 10);\n\n// ── displacement ──────────────────────────────────────────────\nvar displacement = null;\nvar dispRaw = safeStr(engineObj['engineDisplacement']) || '';\nvar dispMatch = dispRaw.match(/(\\d+)/);\nif (dispMatch && dispMatch[1]) displacement = parseInt(dispMatch[1], 10);\n\n// ── co2 ───────────────────────────────────────────────────────\nvar co2 = null;\nvar co2Raw = safeStr(ld['emissionsCO2']) || '';\nvar co2Match = co2Raw.match(/([\\d,\\.]+)\\s*g\\/km/i);\nif (co2Match && co2Match[1]) co2 = parseFloat(co2Match[1].replace(',', '.'));\n\n// ── consumption ───────────────────────────────────────────────\nvar consumption = null;\nvar consRaw = safeStr(ld['fuelConsumption']) || '';\nvar consMatch = consRaw.match(/([\\d,\\.]+)\\s*l\\/100/i);\nif (consMatch && consMatch[1]) consumption = parseFloat(consMatch[1].replace(',', '.'));\n\n// ── next_itv ──────────────────────────────────────────────────\nvar next_itv = null;\nvar itvMatch = html.match(/ITV\\s+v[áa]lida\\s+hasta[:\\s]*(\\d{1,2})\\/(\\d{1,2})\\/(\\d{2,4})/i);\nif (itvMatch) {\n  var itvDay   = itvMatch[1].padStart(2, '0');\n  var itvMonth = itvMatch[2].padStart(2, '0');\n  var itvYear  = itvMatch[3];\n  if (itvYear.length === 2) itvYear = '20' + itvYear;\n  next_itv = itvYear + '-' + itvMonth + '-' + itvDay;\n}\n\n// ── environmental_label — inferida de Euro + combustible ──────\nvar environmental_label = null;\nvar emStd = safeStr(ld['meetsEmissionStandard']) || '';\nvar euroMatch = emStd.match(/EURO\\s*(\\d+)/i);\nif (!euroMatch) euroMatch = html.match(/EURO\\s*(\\d+)/i);\nvar euroNum = euroMatch ? parseInt(euroMatch[1], 10) : null;\nvar fuelLow = (fuel || '').toLowerCase();\n\nif (fuelLow.includes('eléctr') || fuelLow.includes('electr')) {\n  environmental_label = '0 Emisiones';\n} else if (fuelLow.includes('híbrid') || fuelLow.includes('hibrid')) {\n  environmental_label = html.match(/plug.in|enchufable/i) ? 'ECO' : 'C';\n} else if (euroNum) {\n  if (fuelLow.includes('diesel') || fuelLow.includes('diésel')) {\n    if (euroNum >= 6)      environmental_label = 'C';\n    else if (euroNum >= 4) environmental_label = 'B';\n  } else {\n    if (euroNum >= 4)      environmental_label = 'C';\n    else if (euroNum === 3) environmental_label = 'B';\n  }\n}\n\n// ── traction ──────────────────────────────────────────────────\nvar traction = null;\nvar tracMatch = html.match(/\\b(4[Xx]4|4WD|AWD|FWD|RWD|delantera|trasera|tracción\\s+total|tracción\\s+integral)\\b/i);\nif (tracMatch && tracMatch[1]) {\n  var _tr = tracMatch[1].toLowerCase();\n  if (/4x4|4wd|awd|total|integral/.test(_tr)) traction = '4x4';\n  else if (/tras|rwd|rear/.test(_tr)) traction = 'Trasera';\n  else if (/del|fwd|front/.test(_tr)) traction = 'Delantera';\n}\n\n// ── city / location ───────────────────────────────────────────\nvar city = null;\nvar location = null;\nvar addrObj = {};\nif (ld['offers'] && ld['offers']['availableAtOrFrom']) {\n  addrObj = ld['offers']['availableAtOrFrom']['address'] || ld['offers']['availableAtOrFrom'] || {};\n} else if (ld['availableAtOrFrom']) {\n  addrObj = ld['availableAtOrFrom']['address'] || ld['availableAtOrFrom'] || {};\n}\nif (addrObj['addressLocality']) city     = String(addrObj['addressLocality']).trim();\nif (addrObj['addressRegion'])   location = String(addrObj['addressRegion']).trim();\nif (!city) {\n  var cityM = html.match(/\"addressLocality\"\\s*:\\s*\"([^\"]+)\"/);\n  if (cityM && cityM[1]) city = cityM[1].trim();\n}\nif (!location) {\n  var regionM = html.match(/\"addressRegion\"\\s*:\\s*\"([^\"]+)\"/);\n  if (regionM && regionM[1]) location = regionM[1].trim();\n}\n// Si Autohero no informa ubicación → nacional\nif (!location && !row.location) location = 'Toda España';\n// city = location como fallback\nif (!city && location)          city = location;\n\nvar province = location;\n\n// ── listed_at ─────────────────────────────────────────────────\nvar listed_at = null;\nvar datePosted = safeStr(ld['datePosted']);\nif (datePosted) {\n  var dpMatch = datePosted.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  if (dpMatch) listed_at = dpMatch[1];\n}\nif (!listed_at) {\n  var dpHtml = html.match(/\"datePosted\"\\s*:\\s*\"([^\"]+)\"/);\n  if (dpHtml && dpHtml[1]) {\n    var dpMatch2 = dpHtml[1].match(/(\\d{4}-\\d{2}-\\d{2})/);\n    if (dpMatch2) listed_at = dpMatch2[1];\n  }\n}\n\n// ── finance_price ─────────────────────────────────────────────\nvar finance_price = null;\nvar finMatch = html.match(/(\\d[\\d.,]+)\\s*€\\s*\\/\\s*mes/i);\nif (!finMatch) finMatch = html.match(/cuota[^0-9]{0,30}(\\d[\\d.,]+)\\s*€/i);\nif (finMatch && finMatch[1]) {\n  finance_price = parseFloat(finMatch[1].replace(/\\./g, '').replace(',', '.'));\n  if (isNaN(finance_price)) finance_price = null;\n}\n\n// ── Hardcoded ─────────────────────────────────────────────────\nvar dealer_name       = 'Autohero';\nvar seller_type       = 'profesional';\nvar warranty_months   = 12;\nvar listing_type      = 'compra';\nvar source_updated_at = new Date().toISOString().slice(0, 10);\n\n// ── SQL builder ───────────────────────────────────────────────\nvar id = String(row.id || '');\nif (!id) return [{ json: { skipped: true, reason: 'no_id' } }];\n\nfunction esc(v) {\n  if (v === null || v === undefined || v === '') return 'NULL';\n  if (typeof v === 'number') return isNaN(v) ? 'NULL' : String(v);\n  if (typeof v === 'boolean') return v ? 'TRUE' : 'FALSE';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nvar parts = [];\n\nif (image_url)              parts.push(\"image_url = \"           + esc(image_url));\nif (images_arr.length > 0)  parts.push(\"images = \"             + esc(JSON.stringify(images_arr)));\nif (body_type)              parts.push(\"body_type = \"           + esc(body_type));\nif (doors !== null)         parts.push(\"doors = \"               + esc(doors));\nif (seats !== null)         parts.push(\"seats = \"               + esc(seats));\nif (color)                  parts.push(\"color = \"               + esc(color));\nif (fuel && !row.fuel)      parts.push(\"fuel = \"                + esc(fuel));\nif (transmission)           parts.push(\"transmission = \"        + esc(transmission));\nif (power_cv !== null)      parts.push(\"power_cv = \"            + esc(power_cv));\nif (power_kw !== null)      parts.push(\"power_kw = \"            + esc(power_kw));\nif (displacement !== null)  parts.push(\"displacement = \"        + esc(displacement));\nif (co2 !== null)           parts.push(\"co2 = \"                 + esc(co2));\nif (consumption !== null)   parts.push(\"consumption = \"         + esc(consumption));\nif (next_itv)               parts.push(\"next_itv = \"            + esc(next_itv));\nif (environmental_label && !row.environmental_label) parts.push(\"environmental_label = \" + esc(environmental_label));\nif (traction)               parts.push(\"traction = \"            + esc(traction));\nif (city)                   parts.push(\"city = \"                + esc(city));\nif (location)               parts.push(\"location = \"            + esc(location));\nif (province)               parts.push(\"province = \"            + esc(province));\nif (listed_at)              parts.push(\"listed_at = \"           + esc(listed_at));\nif (finance_price !== null) parts.push(\"finance_price = \"       + esc(finance_price));\n\nparts.push(\"dealer_name = \"       + esc(dealer_name));\nparts.push(\"seller_type = \"       + esc(seller_type));\nparts.push(\"warranty_months = \"   + esc(warranty_months));\nparts.push(\"listing_type = \"      + esc(listing_type));\nparts.push(\"source_updated_at = \" + esc(source_updated_at));\n\n// Marcar SIEMPRE el intento para no re-scrapear cada noche las ofertas incompletables\nparts.push(\"enrich_tried_at = NOW()\");\n\nvar updateSql = 'UPDATE moveadvisor_market_offers SET ' + parts.join(', ') + \" WHERE id = '\" + id.replace(/'/g, \"''\") + \"'\";\n\nreturn [{\n  json: {\n    id: id,\n    updateSql: updateSql,\n    hasUpdates: true,\n    extracted: {\n      image_url: image_url, images: images_arr.length,\n      body_type: body_type, doors: doors, seats: seats, color: color,\n      fuel: fuel, transmission: transmission, power_cv: power_cv,\n      power_kw: power_kw, displacement: displacement, co2: co2,\n      consumption: consumption, next_itv: next_itv,\n      environmental_label: environmental_label, traction: traction,\n      city: city, location: location, listed_at: listed_at,\n      finance_price: finance_price\n    }\n  }\n}];\n"
      },
      "id": "0df0975c-b3c3-42f8-ab79-a21004f4e1c8",
      "name": "Code: Extraer campos y generar SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.updateSql }}",
        "options": {}
      },
      "id": "e920f76a-e4fb-4bb2-bc1f-1c5fa2c2a413",
      "name": "PG: Actualizar oferta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "zoxD0jV8hxZqH0uY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "838256ba-2c03-43a7-8d6b-b2d5b073d0f7",
      "name": "Esperar 1.2s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        240,
        128
      ],
      "webhookId": "wait-autohero-enrich"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        432
      ],
      "id": "5a3b977e-57ea-4419-9d40-9f0a21d05659",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "PG: Ofertas a enriquecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada día a las 4:00": {
      "main": [
        [
          {
            "node": "PG: Ofertas a enriquecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamada desde workflow padre": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Ofertas a enriquecer": {
      "main": [
        [
          {
            "node": "Loop: oferta por oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: oferta por oferta": {
      "main": [
        [
          {
            "node": "HTTP: Página de detalle Autohero",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Página de detalle Autohero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Página de detalle Autohero": {
      "main": [
        [
          {
            "node": "Code: Extraer campos y generar SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extraer campos y generar SQL": {
      "main": [
        [
          {
            "node": "PG: Actualizar oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Actualizar oferta": {
      "main": [
        [
          {
            "node": "Esperar 1.2s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 1.2s (rate limit)": {
      "main": [
        [
          {
            "node": "Loop: oferta por oferta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "PG: Ofertas a enriquecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "9BwKOPMIzjj3owho",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "pinData": {},
  "staticData": null,
  "triggerCount": 0,
  "tags": []
}