n8n-workflows/canalcar-scraper-offers.json
{
  "name": "Canalcar – Scraper",
  "nodes": [
    {
      "parameters": {},
      "id": "cnc-manual",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 45 1 * * *"
            }
          ]
        }
      },
      "id": "cnc-cron",
      "name": "Cada día a las 01:45",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.canalcar.es/coches-ocasion",
        "options": {
          "timeout": 25000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "headers": {
            "values": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "es-ES,es;q=0.9"
              }
            ]
          }
        }
      },
      "id": "cnc-count",
      "name": "HTTP: Contar (pág 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -20,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const httpOut = $input.item.json;\nconst html = typeof httpOut === 'string' ? httpOut : String(httpOut.data || httpOut.body || '');\nconst nums = [...html.matchAll(/[?&]page=(\\d+)/g)].map(m => parseInt(m[1],10)).filter(n => !isNaN(n));\nconst maxPage = nums.length ? Math.min(Math.max(...nums), 50) : 1;\nconst out = []; for (let p = 1; p <= maxPage; p++) out.push({ json: { page: p } });\nreturn out;"
      },
      "id": "cnc-gen",
      "name": "Code: Generar páginas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cnc-loop",
      "name": "Loop: página por página",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.canalcar.es/coches-ocasion?page={{ $json.page }}",
        "options": {
          "timeout": 25000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "headers": {
            "values": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "es-ES,es;q=0.9"
              }
            ]
          }
        }
      },
      "id": "cnc-http",
      "name": "HTTP: Listado Canalcar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Canalcar - transform: tarjetas (data-coche-id/data-precio/data-url) -> UPSERT\nconst httpOut = $input.item.json;\nconst html = typeof httpOut === 'string' ? httpOut : String(httpOut.data || httpOut.body || '');\nfunction num(s){ const n=parseInt(String(s).replace(/[^0-9]/g,''),10); return isNaN(n)?null:n; }\nfunction attr(c,name){ const m=c.match(new RegExp(name+'=\"([^\"]*)\"','i')); return m?m[1]:''; }\nfunction cap(s){ return String(s).split('-').map(w=>w?w[0].toUpperCase()+w.slice(1):w).join(' '); }\nfunction esc(v){ if(v===null||v===undefined) return 'NULL'; if(typeof v==='number') return isNaN(v)?'NULL':String(v); return \"'\"+String(v).replace(/'/g,\"''\")+\"'\"; }\nfunction normFuel(s){ s=String(s).toLowerCase(); if(/gnc|glp|gas natural/.test(s)) return 'Gas'; if(/eléctric|electric/.test(s)) return 'Eléctrico'; if(/híbrid|hibrid/.test(s)) return 'Híbrido'; if(/diésel|diesel/.test(s)) return 'Diesel'; if(/gasolina/.test(s)) return 'Gasolina'; return ''; }\nfunction normGear(s){ s=String(s).toLowerCase(); if(/autom/.test(s)) return 'Automatica'; if(/manual/.test(s)) return 'Manual'; return ''; }\nconst marks = [...html.matchAll(/data-coche-id=\"(\\d+)\"/g)];\nconst seen = new Set(); const rows = [];\nfor (let i=0;i<marks.length;i++){\n  const startPos=Math.max(0,marks[i].index-400);\n  const endPos=(i+1<marks.length)?marks[i+1].index:marks[i].index+2200;\n  const chunk=html.slice(startPos,endPos);\n  const id=marks[i][1]; if(seen.has(id)) continue; seen.add(id);\n  const dataUrl=attr(chunk,'data-url'); if(!dataUrl) continue;\n  const parts=dataUrl.split('/').filter(Boolean);\n  const brand=cap(parts[1]||''); const model=cap(parts[2]||'');\n  const pf=parseFloat(attr(chunk,'data-precio')); const price=isNaN(pf)?null:Math.round(pf);\n  const url='https://www.canalcar.es'+dataUrl;\n  const img=(chunk.match(/<img[^>]+src=\"(https:\\/\\/content\\.canalcar[^\"]+)\"/i)||[])[1]||'';\n  const text=chunk.replace(/<[^>]+>/g,' ').replace(/&amp;/g,'&').replace(/\\s+/g,' ').trim();\n  const year=(text.match(/\\b(20\\d{2}|19\\d{2})\\b/)||[])[1]||null;\n  const km=num((text.match(/([0-9.]+)\\s*kms?/i)||[])[1]);\n  const fuel=normFuel((text.match(/GNC|GLP|Di[eé]sel|Gasolina|El[eé]ctric[oa]|H[ií]brid[oa]/i)||[])[0]);\n  const trans=normGear((text.match(/Manual|Autom[aá]tic[oa]/i)||[])[0]);\n  const title=attr(chunk,'data-title');\n  let version='';\n  const vm=text.match(new RegExp((title||(brand+' '+model)).replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&')+'\\\\s+([^|0-9][^|]*?)\\\\s*(20\\\\d{2}|19\\\\d{2})','i'));\n  if(vm) version=vm[1]; else version=cap(parts[3]||'');\n  version=version.replace(/\\bundefined\\b/gi,'').replace(/\\s+\\d+\\s*$/,'').replace(/\\s+/g,' ').trim().slice(0,80);\n  if(!price) continue;\n  const t=((title||(brand+' '+model))+' '+version).replace(/\\s+/g,' ').trim();\n  const imagesJson=(img?JSON.stringify([img]):'[]').replace(/'/g,\"''\");\n  const row='('+esc('cnc_'+id)+\", 'canalcar', \"+esc(url)+', '+esc(t)+', '+esc(brand)+', '+esc(model)+', '+esc(version)+', '+\n    (year!=null?String(year):'NULL')+', '+(km!=null?String(km):'NULL')+', '+(price!=null?String(price):'NULL')+', '+\n    esc(fuel)+', '+esc(trans)+', '+esc(img)+\", '\"+imagesJson+\"', 'profesional', 'compra', NOW(), NOW(), NOW())\";\n  rows.push(row);\n}\nif(!rows.length) return [{ json:{ sql:null, count:0 } }];\nconst cols='id, portal, url, title, brand, model, version, year, mileage, price, fuel, transmission, image_url, images, seller_type, listing_type, first_seen_at, scraped_at, last_seen_at';\nconst onConflict=\"ON CONFLICT (id) DO UPDATE SET url=EXCLUDED.url, title=EXCLUDED.title, price=EXCLUDED.price, mileage=EXCLUDED.mileage, image_url=COALESCE(NULLIF(moveadvisor_market_offers.image_url,''), EXCLUDED.image_url), last_seen_at=NOW(), updated_at=NOW()\";\nconst sql='INSERT INTO moveadvisor_market_offers ('+cols+') VALUES '+rows.join(', ')+' '+onConflict;\nreturn [{ json:{ sql:sql, count:rows.length } }];"
      },
      "id": "cnc-transform",
      "name": "Code: Transformar ofertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cnc-if",
      "name": "IF: ¿hay ofertas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "id": "cnc-pg",
      "name": "PG: Upsert ofertas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1320,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "zoxD0jV8hxZqH0uY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "cnc-wait",
      "name": "Esperar 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1560,
        400
      ],
      "webhookId": "wait-canalcar"
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "HTTP: Contar (pág 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada día a las 01:45": {
      "main": [
        [
          {
            "node": "HTTP: Contar (pág 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Contar (pág 1)": {
      "main": [
        [
          {
            "node": "Code: Generar páginas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Generar páginas": {
      "main": [
        [
          {
            "node": "Loop: página por página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: página por página": {
      "main": [
        [],
        [
          {
            "node": "HTTP: Listado Canalcar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Listado Canalcar": {
      "main": [
        [
          {
            "node": "Code: Transformar ofertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Transformar ofertas": {
      "main": [
        [
          {
            "node": "IF: ¿hay ofertas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿hay ofertas?": {
      "main": [
        [
          {
            "node": "PG: Upsert ofertas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Upsert ofertas": {
      "main": [
        [
          {
            "node": "Esperar 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 1s": {
      "main": [
        [
          {
            "node": "Loop: página por página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "triggerCount": 0,
  "tags": []
}