n8n-workflows/error-notify-email.json
{
  "name": "⚠️ Error Handler – Aviso por Email",
  "nodes": [
    {
      "parameters": {},
      "id": "cc4c0023-61a6-4ed7-82f5-5695637d480c",
      "name": "Al fallar un workflow",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json || {};\nconst wf = d.workflow || {};\nconst ex = d.execution || {};\nconst err = ex.error || {};\n\nconst wfName = wf.name || '(desconocido)';\nconst node = ex.lastNodeExecuted || '(desconocido)';\nconst mode = ex.mode || '';\nconst url = ex.url || '';\nconst msg = err.message || err.description || '(sin mensaje)';\nconst stack = (err.stack || '').split('\\n').slice(0, 6).join('\\n');\n\nconst subject = '[n8n] Falló: ' + wfName + ' → ' + node;\n\nconst text = [\n  'Un workflow de n8n ha fallado.',\n  '',\n  'Workflow:   ' + wfName,\n  'Nodo:       ' + node,\n  'Modo:       ' + mode,\n  'Error:      ' + msg,\n  '',\n  'Traza:',\n  stack,\n  '',\n  url ? ('Ver ejecución: ' + url) : ''\n].join('\\n');\n\nreturn [{ json: { subject: subject, text: text } }];"
      },
      "id": "68c6bef2-b2be-4882-ad13-3c8c56db3b03",
      "name": "Componer mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "carswiseai@gmail.com",
        "toEmail": "carswiseai@gmail.com",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "aa21bdb0-5122-4e81-b1b9-c27c70425641",
      "name": "Enviar email de aviso",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "webhookId": "89ae632e-73d2-4196-acaf-e61770d1cb31",
      "credentials": {
        "smtp": {
          "id": "aTkXlZJ3YA95OmPf",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Al fallar un workflow": {
      "main": [
        [
          {
            "node": "Componer mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Componer mensaje": {
      "main": [
        [
          {
            "node": "Enviar email de aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "pinData": {},
  "staticData": null,
  "triggerCount": 0,
  "tags": []
}