n8n-workflows/error-notify-email.json
{
  "name": "⚠️ Error Handler – Aviso por Email",
  "nodes": [
    {
      "parameters": {},
      "id": "eh-trigger",
      "name": "Al fallar un workflow",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const d = $input.item.json || {};\nconst wf = d.workflow || {};\nconst ex = d.execution || {};\nconst err = ex.error || {};\nconst wfName = wf.name || '(desconocido)';\nconst node = ex.lastNodeExecuted || '(desconocido)';\nconst msg = err.message || err.description || '(sin mensaje)';\nconst stack = String(err.stack || '').split('\\n').slice(0, 6).join('\\n');\nconst esc = (s) => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst subject = '[n8n] Fallo: ' + wfName + ' -> ' + node;\nconst html = '<div style=\"font-family:sans-serif;color:#0f172a\">' +\n  '<h2 style=\"color:#dc2626\">Un workflow de n8n ha fallado</h2>' +\n  '<p><b>Workflow:</b> ' + esc(wfName) + '<br><b>Nodo:</b> ' + esc(node) + '<br><b>Error:</b> ' + esc(msg) + '</p>' +\n  '<pre style=\"background:#f5f5f5;padding:8px;font-size:12px;white-space:pre-wrap\">' + esc(stack) + '</pre></div>';\nreturn [{ json: { payload: { from: 'CarsWise n8n <onboarding@resend.dev>', to: 'akangarooh23@gmail.com', subject: subject, html: html } } }];"
      },
      "id": "eh-compose",
      "name": "Componer mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZA_CON_TU_RESEND_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "eh-http",
      "name": "Enviar aviso (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        480,
        0
      ],
      "continueOnFail": true,
      "retryOnFail": false
    }
  ],
  "connections": {
    "Al fallar un workflow": {
      "main": [
        [
          {
            "node": "Componer mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Componer mensaje": {
      "main": [
        [
          {
            "node": "Enviar aviso (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "triggerCount": 0,
  "tags": []
}