n8n-workflows/flexicar-scraper-offers.json
{
  "name": "Flexicar – Scraper (Importar Ofertas)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Cada día a las 3:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 500]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const pages = [];\nfor (let i = 1; i <= 1020; i++) {\n  pages.push({ json: { page: i } });\n}\nreturn pages;"
      },
      "id": "node-code-pages",
      "name": "Code: Generar páginas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-loop-pages",
      "name": "Loop: página por página",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [480, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.flexicar.es/api/v1/vehicles?page={{ $json.page }}&size=24",
        "options": {
          "timeout": 20000,
          "headers": {
            "values": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
              }
            ]
          }
        }
      },
      "id": "node-http-api",
      "name": "HTTP: API Flexicar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [720, 400]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.item.json;\nconst vehicles = response.results || [];\n\nif (!vehicles.length) {\n  return [{ json: { sql: null, count: 0, skipped: true } }];\n}\n\nfunction normalizeFuel(raw) {\n  const s = String(raw || \"\").toLowerCase();\n  if (s.indexOf(\"diesel\") !== -1) return \"Diesel\";\n  if (s.indexOf(\"electr\") !== -1) return \"Eléctrico\";\n  if (s.indexOf(\"enchufable\") !== -1 || s.indexOf(\"plug\") !== -1) return \"Híbrido enchufable\";\n  if (s.indexOf(\"hibrido\") !== -1 || s.indexOf(\"híbrido\") !== -1 || s.indexOf(\"hybrid\") !== -1) return \"Híbrido\";\n  if (s.indexOf(\"gasolina\") !== -1 || s.indexOf(\"petrol\") !== -1) return \"Gasolina\";\n  if (s.indexOf(\"glp\") !== -1 || s.indexOf(\"gas\") !== -1) return \"Gas\";\n  return raw || \"\";\n}\n\nfunction normalizeGear(raw) {\n  const s = String(raw || \"\").toLowerCase();\n  if (s.indexOf(\"autom\") !== -1) return \"Automatica\";\n  if (s.indexOf(\"manual\") !== -1) return \"Manual\";\n  return raw || \"\";\n}\n\nfunction esc(v) {\n  if (v === null || v === undefined) return \"NULL\";\n  if (typeof v === \"number\") return isNaN(v) ? \"NULL\" : String(v);\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nconst rows = [];\nfor (const v of vehicles) {\n  const id = String(v.id);\n  const url = v.slug ? \"https://www.flexicar.es/coches-ocasion/\" + v.slug + \"/\" : \"\";\n  const brand = v.brand || \"\";\n  const model = v.model || \"\";\n  const version = v.version || \"\";\n  const kwMatch = version.match(/(\\d+)\\s*kW/i);\n  const cvMatch = version.match(/\\((\\d+)\\s*CV\\)/i);\n  const powerKw = kwMatch ? parseInt(kwMatch[1], 10) : null;\n  const powerCv = cvMatch ? parseInt(cvMatch[1], 10) : (kwMatch ? Math.round(parseInt(kwMatch[1], 10) * 1.3596) : null);\n  const year = (v.year != null) ? String(v.year) : \"NULL\";\n  const mileage = (v.km != null) ? String(v.km) : \"NULL\";\n  const fuel = normalizeFuel(v.fuel);\n  const transmission = normalizeGear(v.transmission);\n  const price = (v.price != null) ? String(v.price) : \"NULL\";\n  const financePrice = (v.quotaPrice != null) ? String(v.quotaPrice) : \"NULL\";\n  const imageUrl = v.image || \"\";\n  const imagesArr = Array.isArray(v.images) ? v.images.slice(0, 10) : (imageUrl ? [imageUrl] : []);\n  const imagesJson = JSON.stringify(imagesArr).replace(/'/g, \"''\");\n  const ecoSticker = v.ecuSticker || \"\";\n  const dealerRaw = v.carDealership || \"Flexicar\";\n  const dealerName = typeof dealerRaw === \"string\" ? dealerRaw : (dealerRaw.name || \"Flexicar\");\n  const city = typeof dealerRaw === \"string\" ? (dealerRaw.split(\" - \")[0] || \"\") : (dealerRaw.city || \"\");\n  const location = city || \"Toda España\";\n\n  const row = \"(\" +\n    esc(id) + \", \" + esc(url) + \", \" + esc(brand) + \", \" + esc(model) + \", \" +\n    esc(version) + \", \" + year + \", \" + mileage + \", \" +\n    esc(fuel) + \", \" + esc(transmission) + \", \" +\n    price + \", \" + financePrice + \", \" +\n    esc(imageUrl) + \", '\" + imagesJson + \"', \" +\n    esc(ecoSticker) + \", \" + esc(dealerName) + \", \" +\n    esc(city) + \", \" + esc(location) + \", \" +\n    \"'flexicar', 'profesional', 'compra', 12, \" + (powerCv !== null ? String(powerCv) : \"NULL\") + \", \" + (powerKw !== null ? String(powerKw) : \"NULL\") + \", NOW()\" +\n  \")\";\n  rows.push(row);\n}\n\nconst cols = \"id, url, brand, model, version, year, mileage, fuel, transmission, price, finance_price, image_url, images, environmental_label, dealer_name, city, location, portal, seller_type, listing_type, warranty_months, power_cv, power_kw, first_seen_at\";\n\nconst onConflict = \"ON CONFLICT (id) DO UPDATE SET \" +\n  \"url = EXCLUDED.url, \" +\n  \"price = EXCLUDED.price, \" +\n  \"mileage = EXCLUDED.mileage, \" +\n  \"finance_price = EXCLUDED.finance_price, \" +\n  \"image_url = COALESCE(NULLIF(moveadvisor_market_offers.image_url, ''), EXCLUDED.image_url), \" +\n  \"images = COALESCE(NULLIF(moveadvisor_market_offers.images, ''), EXCLUDED.images), \" +\n  \"environmental_label = COALESCE(NULLIF(moveadvisor_market_offers.environmental_label, ''), EXCLUDED.environmental_label), \" +\n  \"power_cv = EXCLUDED.power_cv, \" +\n  \"power_kw = EXCLUDED.power_kw, \" +\n  \"updated_at = NOW()\";\n\nconst sql = \"INSERT INTO moveadvisor_market_offers (\" + cols + \") VALUES \" + rows.join(\", \") + \" \" + onConflict;\n\nreturn [{ json: { sql: sql, count: vehicles.length } }];"
      },
      "id": "node-code-transform",
      "name": "Code: Transformar vehículos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-vehicles",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-has-vehicles",
      "name": "IF: ¿hay vehículos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "id": "node-pg-upsert",
      "name": "PG: Upsert ofertas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1440, 280],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZA_CON_TU_ID_CREDENCIAL",
          "name": "Postgres Neon"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "node-wait",
      "name": "Esperar 0.5s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1680, 400],
      "webhookId": "wait-flexicar-scraper"
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [{ "node": "Code: Generar páginas", "type": "main", "index": 0 }]
      ]
    },
    "Cada día a las 3:00": {
      "main": [
        [{ "node": "Code: Generar páginas", "type": "main", "index": 0 }]
      ]
    },
    "Code: Generar páginas": {
      "main": [
        [{ "node": "Loop: página por página", "type": "main", "index": 0 }]
      ]
    },
    "Loop: página por página": {
      "main": [
        [{ "node": "HTTP: API Flexicar", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: API Flexicar": {
      "main": [
        [{ "node": "Code: Transformar vehículos", "type": "main", "index": 0 }]
      ]
    },
    "Code: Transformar vehículos": {
      "main": [
        [{ "node": "IF: ¿hay vehículos?", "type": "main", "index": 0 }]
      ]
    },
    "IF: ¿hay vehículos?": {
      "main": [
        [{ "node": "PG: Upsert ofertas", "type": "main", "index": 0 }],
        [{ "node": "Esperar 0.5s (rate limit)", "type": "main", "index": 0 }]
      ]
    },
    "PG: Upsert ofertas": {
      "main": [
        [{ "node": "Esperar 0.5s (rate limit)", "type": "main", "index": 0 }]
      ]
    },
    "Esperar 0.5s (rate limit)": {
      "main": [
        [{ "node": "Loop: página por página", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-15T00:00:00.000Z",
  "versionId": "1"
}
