n8n-workflows/milanuncios-scraper-offers.json
{
  "name": "Milanuncios – Scraper (mercado)",
  "nodes": [
    {
      "parameters": {},
      "id": "mil-manual",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 5 * * *"
            }
          ]
        }
      },
      "id": "mil-cron",
      "name": "Cada día a las 5:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        480
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Milanuncios tiene rate-limit anti-bot (PerimeterX): pocas marcas/noche, rotación lenta.\n// 4 marcas/noche por día del año → ciclo completo ~17 noches.\nconst brands = [\"peugeot\",\"mercedes-benz\",\"kia\",\"citroen\",\"volkswagen\",\"ford\",\"opel\",\"renault\",\"audi\",\"seat\",\"bmw\",\"toyota\",\"nissan\",\"hyundai\",\"fiat\",\"mg\",\"skoda\",\"jeep\",\"volvo\",\"mazda\",\"ds\",\"cupra\",\"dacia\",\"mini\",\"mitsubishi\",\"lexus\",\"land-rover\",\"honda\",\"suzuki\",\"alfa-romeo\",\"ssangyong\",\"byd\",\"porsche\",\"jaguar\",\"subaru\",\"smart\",\"dfsk\",\"tesla\",\"iveco\",\"abarth\",\"leapmotor\",\"chevrolet\",\"maserati\",\"lancia\",\"maxus\",\"infiniti\",\"ferrari\",\"bentley\",\"geely\",\"chrysler\",\"polestar\",\"dodge\",\"alpine\",\"aston-martin\",\"saab\",\"dongfeng\",\"ineos\",\"mahindra\",\"rover\",\"cadillac\",\"isuzu\",\"lamborghini\",\"lotus\",\"hummer\",\"maybach\",\"omoda\",\"jaecoo\",\"tata\",\"daewoo\"];\nconst PER = 4;\nconst now = new Date();\nconst doy = Math.floor((Date.now() - Date.UTC(now.getUTCFullYear(), 0, 0)) / 86400000);\nconst groups = Math.ceil(brands.length / PER);\nconst g = doy % groups;\nconst mine = brands.slice(g * PER, g * PER + PER);\nconst out = [];\nfor (const b of mine) out.push({ json: { url: 'https://www.milanuncios.com/' + b + '-de-segunda-mano/' } });\nreturn out;\n"
      },
      "id": "mil-brands",
      "name": "Code: Marcas del día",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        390
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 25000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "headers": {
            "values": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept-Language",
                "value": "es-ES,es;q=0.9"
              }
            ]
          },
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 15000
            }
          }
        }
      },
      "id": "mil-p1",
      "name": "HTTP: Página 1 marca",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -20,
        390
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// De la página 1 de cada marca: leer pagination.totalPages → generar ?pagina=N (tope CAP).\nconst inputs = $input.all();\nconst CAP = 10;\nconst out = [];\nlet sawBlock = false;\nfor (const inp of inputs) {\n  const html = typeof inp.json === 'string' ? inp.json : String(inp.json.data || inp.json.body || '');\n  if (/Pardon Our Interruption/i.test(html)) { sawBlock = true; continue; }\n  let i = html.indexOf('window.__INITIAL_PROPS__');\n  if (i < 0) continue;\n  i = html.indexOf('\"', i);\n  let j = i + 1, esc = false, str = '';\n  for (; j < html.length; j++) {\n    const c = html[j];\n    if (esc) { str += c; esc = false; }\n    else if (c === '\\\\') { str += c; esc = true; }\n    else if (c === '\"') break;\n    else str += c;\n  }\n  let pp;\n  try { pp = JSON.parse(JSON.parse('\"' + str + '\"')); } catch (e) { continue; }\n  const pag = pp.adListPagination;\n  if (!pag || !pag.pagination) continue;\n  const ads = (pag.adList && pag.adList.ads) || [];\n  const catSlug = ads[0] && ads[0].category && ads[0].category.slug;\n  if (!catSlug) continue;\n  const baseUrl = 'https://www.milanuncios.com/' + catSlug + '/';\n  const total = pag.pagination.totalPages || 1;\n  const pages = Math.min(total, CAP);\n  for (let p = 1; p <= pages; p++) out.push({ json: { url: baseUrl + '?pagina=' + p } });\n}\nif (out.length === 0) throw new Error('Milanuncios: 0 páginas generadas' + (sawBlock ? ' (bloqueo PerimeterX detectado en página 1)' : ''));\nreturn out;\n"
      },
      "id": "mil-genp",
      "name": "Code: Generar páginas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        390
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "mil-loop",
      "name": "Loop: página por página",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        390
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 25000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "headers": {
            "values": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept-Language",
                "value": "es-ES,es;q=0.9"
              }
            ]
          }
        }
      },
      "id": "mil-http",
      "name": "HTTP: Página Milanuncios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        390
      ],
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Milanuncios – transform: HTML → window.__INITIAL_PROPS__ (string JSON) →\n// adListPagination.adList.ads → UPSERT moveadvisor_market_offers (portal='milanuncios')\nconst httpOut = $input.item.json;\nconst html = typeof httpOut === 'string' ? httpOut : String(httpOut.data || httpOut.body || '');\n\n// Rate-limit anti-bot (PerimeterX): si llega la página de bloqueo, PARAR el run\n// (seguir pidiendo alarga el bloqueo). Lanzar error detiene el workflow entero.\nif (/Pardon Our Interruption/i.test(html)) {\n  throw new Error('Milanuncios bloqueado (PerimeterX) — run detenido para no alargar el bloqueo');\n}\n\n// --- extraer window.__INITIAL_PROPS__ (es un string JSON escapado: = JSON.parse(\"{...}\")) ---\nlet ads = [];\ntry {\n  let i = html.indexOf('window.__INITIAL_PROPS__');\n  if (i >= 0) {\n    i = html.indexOf('\"', i);\n    let j = i + 1, esc = false, out = '';\n    for (; j < html.length; j++) {\n      const c = html[j];\n      if (esc) { out += c; esc = false; }\n      else if (c === '\\\\') { out += c; esc = true; }\n      else if (c === '\"') break;\n      else out += c;\n    }\n    const pp = JSON.parse(JSON.parse('\"' + out + '\"'));\n    ads = (pp.adListPagination && pp.adListPagination.adList && pp.adListPagination.adList.ads) || [];\n  }\n} catch (e) { ads = []; }\nif (!ads.length) return [{ json: { sql: null, count: 0 } }];\n\nfunction esc(v) {\n  if (v === null || v === undefined) return 'NULL';\n  if (typeof v === 'number') return isNaN(v) ? 'NULL' : String(v);\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\nfunction cleanBrand(s) {\n  s = String(s || '').replace(/-/g, ' ').replace(/\\s+/g, ' ').trim();\n  return s.replace(/\\b\\w/g, c => c.toUpperCase());\n}\nfunction normFuel(s) {\n  s = String(s || '').toLowerCase();\n  const ench = (s.indexOf('enchufable') !== -1 || s.indexOf('plug') !== -1) && s.indexOf('no enchufable') === -1;\n  if (s.indexOf('diesel') !== -1 || s.indexOf('diésel') !== -1 || s.indexOf('gasoil') !== -1 || s.indexOf('gasóleo') !== -1) return 'Diesel';\n  if (s.indexOf('híbrido') !== -1 || s.indexOf('hibrido') !== -1 || s.indexOf('hybrid') !== -1) return ench ? 'Híbrido enchufable' : 'Híbrido';\n  if (s.indexOf('eléctric') !== -1 || s.indexOf('electric') !== -1) return 'Eléctrico';\n  if (s.indexOf('gasolina') !== -1) return 'Gasolina';\n  if (s.indexOf('glp') !== -1 || s.indexOf('gnc') !== -1 || s.indexOf('gas') !== -1) return 'Gas';\n  return '';\n}\nfunction normGear(s) { s = String(s || '').toLowerCase(); if (s.indexOf('autom') !== -1) return 'Automatica'; if (s.indexOf('manual') !== -1) return 'Manual'; return ''; }\nfunction digits(s) { const m = String(s || '').replace(/\\./g, '').match(/\\d+/); return m ? parseInt(m[0], 10) : null; }\nfunction tag(a, type) { const t = (a.tags || []).find(x => x && x.type === type); return t ? t.text : ''; }\n\nconst rows = [];\nfor (const a of ads) {\n  if (!a || !a.id) continue;\n  const price = a.price && a.price.cashPrice && a.price.cashPrice.value != null ? a.price.cashPrice.value : null;\n  if (price === null) continue; // precio obligatorio\n\n  const id = 'mil_' + a.id;\n  const brand = cleanBrand(a.category && a.category.name);\n  const title = String(a.title || '').replace(/\\s+/g, ' ').trim();\n  // modelo/versión: quitar la marca del principio del título\n  let rest = title;\n  const bl = (a.category && a.category.name ? a.category.name.replace(/-/g, ' ') : '').toLowerCase();\n  if (bl && title.toLowerCase().indexOf(bl) === 0) rest = title.slice(bl.length).trim();\n  else { const bw = (brand.split(' ')[0] || '').toLowerCase(); if (bw && title.toLowerCase().indexOf(bw) === 0) rest = title.slice(bw.length).trim(); }\n  const sp = rest.indexOf(' ');\n  const model = sp === -1 ? rest : rest.slice(0, sp);\n  const version = sp === -1 ? '' : rest.slice(sp + 1).trim();\n\n  const year = digits(tag(a, 'año'));\n  const mileage = digits(tag(a, 'kilómetros'));\n  const fuel = normFuel(tag(a, 'combustible'));\n  const transmission = normGear(tag(a, 'cambio'));\n\n  const prov = (a.province && a.province.name) || (a.location && a.location.province && a.location.province.name) || '';\n  const city = (a.location && a.location.city && a.location.city.name) || (a.city && a.city.name) || '';\n  const sellerType = a.sellerType === 'private' ? 'particular' : 'profesional';\n  const dealerName = sellerType === 'profesional' ? String(a.seoTitle || '') : '';\n\n  const imgs = (Array.isArray(a.images) ? a.images : [])\n    .map(u => u ? ('https://' + String(u).replace(/^https?:\\/\\//, '')) : null).filter(Boolean).slice(0, 15);\n  const imageUrl = imgs[0] || '';\n  const imagesJson = JSON.stringify(imgs).replace(/'/g, \"''\");\n  const url = a.url ? ('https://www.milanuncios.com' + a.url) : '';\n\n  const row = '(' +\n    esc(id) + \", 'milanuncios', \" + esc(url) + ', ' + esc(title) + ', ' + esc(brand) + ', ' + esc(model) + ', ' + esc(version) + ', ' +\n    (year || 'NULL') + ', ' + (mileage != null ? mileage : 'NULL') + ', ' + price + ', ' +\n    esc(fuel) + ', ' + esc(transmission) + \", '', \" +\n    esc(imageUrl) + \", '\" + imagesJson + \"', '', \" + esc(dealerName) + ', ' +\n    esc(city) + ', ' + esc(prov) + ', ' + esc(prov) + ', ' +\n    \"'\" + sellerType + \"', 'compra', \" +\n    'NULL, NULL, ' + \"'', NULL, NULL\" +\n    ', NOW(), NOW(), NOW()' +\n  ')';\n  rows.push(row);\n}\nif (!rows.length) return [{ json: { sql: null, count: 0 } }];\n\nconst cols = 'id, portal, url, title, brand, model, version, year, mileage, price, fuel, transmission, color, ' +\n  'image_url, images, environmental_label, dealer_name, city, province, location, seller_type, listing_type, ' +\n  'power_cv, power_kw, body_type, doors, seats, first_seen_at, scraped_at, last_seen_at';\n\nconst onConflict = 'ON CONFLICT (id) DO UPDATE SET ' +\n  'url = EXCLUDED.url, title = EXCLUDED.title, price = EXCLUDED.price, mileage = EXCLUDED.mileage, ' +\n  'year = COALESCE(EXCLUDED.year, moveadvisor_market_offers.year), ' +\n  'fuel = EXCLUDED.fuel, transmission = EXCLUDED.transmission, seller_type = EXCLUDED.seller_type, ' +\n  \"image_url = COALESCE(NULLIF(moveadvisor_market_offers.image_url,''), EXCLUDED.image_url), \" +\n  \"images = COALESCE(NULLIF(moveadvisor_market_offers.images,''), EXCLUDED.images), \" +\n  'last_seen_at = NOW(), updated_at = NOW()';\n\nconst sql = 'INSERT INTO moveadvisor_market_offers (' + cols + ') VALUES ' + rows.join(', ') + ' ' + onConflict;\nreturn [{ json: { sql: sql, count: rows.length } }];\n"
      },
      "id": "mil-transform",
      "name": "Code: Transformar ofertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        390
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "mil-if",
      "name": "IF: ¿hay ofertas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        390
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "additionalFields": {}
      },
      "id": "mil-pg",
      "name": "PG: Upsert ofertas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1320,
        280
      ],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZA_CON_TU_ID_CREDENCIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "mil-wait",
      "name": "Esperar 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1540,
        390
      ],
      "webhookId": "wait-milanuncios"
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Code: Marcas del día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada día a las 5:00": {
      "main": [
        [
          {
            "node": "Code: Marcas del día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Marcas del día": {
      "main": [
        [
          {
            "node": "HTTP: Página 1 marca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Página 1 marca": {
      "main": [
        [
          {
            "node": "Code: Generar páginas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Generar páginas": {
      "main": [
        [
          {
            "node": "Loop: página por página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: página por página": {
      "main": [
        [],
        [
          {
            "node": "HTTP: Página Milanuncios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Página Milanuncios": {
      "main": [
        [
          {
            "node": "Code: Transformar ofertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Transformar ofertas": {
      "main": [
        [
          {
            "node": "IF: ¿hay ofertas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿hay ofertas?": {
      "main": [
        [
          {
            "node": "PG: Upsert ofertas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Upsert ofertas": {
      "main": [
        [
          {
            "node": "Esperar 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 15s": {
      "main": [
        [
          {
            "node": "Loop: página por página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "triggerCount": 1,
  "tags": []
}